{% extends "partials/base.html.twig" %}

{% block content %}
   {% set about_hero = page.media.images|first %}
   <header id="about-hero" class="hero jarallax blobFX" data-speed="1.3">
      <div class="blobFX-bg">
         <img src="{{ about_hero.url }}" alt="{{ page.title }}" class="jarallax-img">
      </div>
      <article>
         <div id="gsap--aboutIntroH1" class="__title">
            <h2>{{ page.header.about_title }}</h2>
         </div>
         <div id="gsap--aboutIntroSub" class="__subtitle">
            <h5>{{ page.header.about_subtitle }}</h5>
         </div>
         {% if page.header.about_intro %}
            <div id="gsap--aboutIntroContent" class="__content">
               <blockquote>
                  {{ page.header.about_intro }}
                  <cite>- The Boss</cite>
               </blockquote>
            </div>
         {% endif %}
         {% if page.header.about_img %}
            <div id="gsap--aboutIntroImg" class="__img">
               {{ page.media[page.header.about_img].html()|raw }}
            </div>
         {% endif %}
      </article>
   </header>

   <main id="about">
      <aside>
         <h2>About Me</h2>
         <figure class="__about-img">
            <img src="{{ page.media[page.header.about_content_img].url }}" alt="Slayley.com">
         </figure>
         <figure class="__about-img--2">
            <img src="{{ page.media[page.header.about_content_img_2].url }}" alt="Slayley.com">
         </figure>
      </aside>
      <article>
         {{ page.content|raw }}

         <div class="__social-media">
            {% for type, meta in theme_config.slayley.social %}
               <a href="{{ meta.url }}" {% if meta.rel %}rel="{{ meta.rel }}" {% endif %}class="__social-link" title="{{ meta.title }}" target="_blank">
                  <i class="fab fa-{{ meta.icon }}"></i>
               </a>
            {% endfor %}
         </div>
      </article>
   </main>
{% endblock %}

{% block bottom %}
   {{ parent() }}
   <script>
      $('.jarallax').jarallax();

      gsap.from("#gsap--aboutIntroH1", {
         duration: 1,
         scale: 0.5, 
         opacity: 0, 
         delay: 1.5,
         ease: "circ", 
         force3D: true
      });
      gsap.from("#gsap--aboutIntroSub", {
         duration: 1.8,
         x: 300,
         opacity: 0,
         delay: 2.5,
         ease: "elastic"
      });

      gsap.from("#gsap--aboutIntroContent", {
         duration: 0.8,
         opacity: 0,
         scaleY: 0.8,
         delay: 3,
         ease: "power2"
      });
   </script>
{% endblock %}